nav {
    display: flex;
    background-color: #456788;

    a {
        display: inline-block;
        padding: 15px;
        color: #ffffff94;
        border-right: 1px solid white;
        cursor: pointer;
        transition: color .25s;
        text-decoration: none;
        text-transform: capitalize;

        &:hover {
            color: #ffffff;
        }

        &:last-child {
            border-right: none;
        }

        &.active {
            color: #ffffff;
        }
    }
}

