.header {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: inline-block;
        padding: 0 10px;
        text-decoration: none;
        cursor: pointer;
        transition: color .25s;
        color: #bbbbbb;
        
        &:hover {
            color: black;
        }

        &.active {
            color: black;
        }
    }
}